<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#getStarted">Get Started</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#resources">Resources</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#whatsnew">What's New</a>
                    </li>
                </ul>
                <a href="mailto:123@microosft.com" class="copyright text-muted small">Submit your code samples!</a>
                 
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div> 
        </div>
    </div>
</footer>
