 <!-- getStarted Section -->
    <section id="getStarted" class="container feature-cont">
        <div class="row">
            <div class="col-xl-12">
                <br /><br />
                <h2>New To Service Fabric?</h2>
                <br />
                <!-- end notification -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="figure">
                            <div class="embed-responsive embed-responsive-16by9" style="margin-top:20px">
                                <iframe class="embed-responsive-item " src="https://channel9.msdn.com/Blogs/Azure/Azure-Service-Fabric/player/" autoplay="false"></iframe>
                            </div>
                        </div>
                        <div class="row download-button">
                            <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started" class="btn btn-info btn-md">Download Instructions</a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <br/>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="img/hex1.JPG" class="hexagon" />
                            </div>
                            <div class="col-md-9 rect">
                                <h4>Run business-critical applications at scale</h4>
                                <p class="quote">"We really needed a distributed clustering technology that would deliver at massive scale. 
                                The high-availability guarantees from Service Fabric gave us the answer."</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="img/hex2.JPG" class="hexagon" />
                            </div>
                            <div class="col-md-9 rect">
                                <h4>Achieve high developer productivity</h4>
                                <p class="quote">"Service Fabric allowed us to focus on the key features of EcoStruxure.io, rather than building
                                a microservices architecture."</p>
                            </div> 
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="img/hex3.JPG" class="hexagon" />
                            </div>
                            <div class="col-md-9 rect">
                                <h4> Gain business agility with microservices and containers</h4>
                                <p class="quote">Azure Serice Fabric is a sophisticated toolbox for creating a mix of stateless and stateful services
                                that can be scaled and extended as our user base grows and we add new functionality."</p>
                            </div>
                        </div>                                  
                    </div>
                </div>
            </div>
        </div>
     </section>
