<section id="resources">
    <!-- Page Content -->
     <!-- Read Section-->
     <div class="content-section-a">
         <div class="container">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Read</h2>

                 <div class="row">
                     <div class="col-lg-4">
                         <div class="panel panel-info">
                             <div class="panel-heading">
                                 <h2 class="panel-title">Service Fabric Documentation</h2>
                             </div>
                             <div class="panel-body lead">
                                 Documents with content ranging from terminology to architecture written by Service Fabric team-members. <br />
                                 <img src="img/book_icon.png" class="center-block read-icon">
                                 <a href="https://docs.microsoft.com/en-us/azure/service-fabric/" class="btn btn-info btn-md">Go</a>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <div class="panel panel-info">
                             <div class="panel-heading">
                                 <h2 class="panel-title">Service Fabric Team Blog</h2>
                             </div>
                             <div class="panel-body lead">
                                 Keep up to date with the latest Service Fabric news with posts written by the team. <br />
                                 <img src="img/blog_icon3.png" class="center-block read-icon">
                                 <a href="https://blogs.msdn.microsoft.com/azureservicefabric/?orderby=date" class="btn btn-info btn-md">Go</a>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <div class="panel panel-info">
                             <div class="panel-heading">
                                 <h2 class="panel-title">Azure Service Fabric Roadmap</h2>
                             </div>
                             <div class="panel-body lead">
                                 Check out Service Fabric's roadmap to get updates on where our service is heading. <br />
                                 <img src="img/map_icon.png" class="center-block read-icon">
                                 <a href="https://azure.microsoft.com/en-us/roadmap/?query=service+fabric/" class="btn btn-info btn-md">Go</a>
                             </div>
                         </div>
                     </div>

                 </div>
         </div>
    <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
     <div class="content-section-b">
         <!-- Header-->
         <div class="row">
             <div class="container">
                 <hr class="section-heading-spacer">
                 <div class="clearfix"></div>
                 <h2 class="section-heading">Watch</h2>

                 <!--Video Panels -->
                 <!-- MVA Bar -->
                 <div class="row">
                     <div class="col-xs-7">
                         <h4>Microsoft Virtual Academy</h4>
                         <p class="lead">
                             Microsoft Virtual Academy videos place emphasis on teaching you about various topics and often don't require extensive prerequisite knowledge. They are a great resource if you are new to
                             the service or want a refresher.
                         </p>
                     </div>
                     <div class="col-xs-5">
                         <div class="panel-group" id="accordion1">
                             <div class="panel panel-info">
                                 <div class="panel-heading">
                                     <h4 class="panel-title">
                                         <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">Building Microservices Apps with Service Fabric</a>
                                     </h4>
                                 </div>
                                 <div id="collapse1" class="panel-collapse collapse">
                                     <div class="panel-body">
                                         <ul>
                                             <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=tbuZM46yC_5206218965#">Service Fabric Architecture & Core Concepts</a></li>
                                             <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=HhD9566yC_4106218965#">Service Fabric Reliable Services</a></li>
                                             <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=HhD9566yC_4106218965#">Service Fabric on Linux</a></li>
                                             <li><a href="https://mva.microsoft.com/en-US/training-courses/building-microservices-applications-on-azure-service-fabric-16747?l=qDJnf86yC_5206218965#">Service Fabric History & Customer Stories</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                             <div class="panel panel-info">
                                 <div class="panel-heading">
                                     <h4 class="panel-title">
                                         <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2">Service Fabric Patterns + Practices</a>
                                     </h4>
                                 </div>
                                 <div id="collapse2" class="panel-collapse collapse">
                                     <ul>
                                         <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#">Intro to Service Fabric Patterns + Practices</a></li>
                                         <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#">Cluster Planning and Management</a></li>
                                         <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=N2KwbbSGD_6405167344#">Hyper-Scale Web</a></li>
                                         <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=naFUVeSGD_1505167344#">loT</a></li>
                                         <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=naFUVeSGD_1505167344#">Gaming</a></li>
                                         <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=78h5ofSGD_305167344#">Continuous Delivery</a></li>
                                         <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=hd1cMgSGD_5605167344#">Migration</a></li>
                                         <li><a href="https://mva.microsoft.com/en-US/training-courses/service-fabric-patterns-and-practices-16925?l=hd1cMgSGD_5605167344#">Container and Linux Supports</a></li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                 <!-- YouTube Bar-->
                 <div class="row">
                     <div class="col-xs-5">
                         <div class="panel-group" id="accordion2">
                             <div class="panel panel-info">
                                 <div class="panel-heading">
                                     <h4 class="panel-title">
                                         <a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">Microsoft Azure Service Fabric</a>
                                     </h4>
                                 </div>
                                 <div id="collapse5" class="panel-collapse collapse">
                                     <div class="panel-body">
                                         <ul>
                                             <li><a href="https://www.youtube.com/watch?v=K32KfaGx500">Community Q&A #1 </a></li>
                                             <li><a href="https://www.youtube.com/watch?v=WZfQEF_1xTM">Community Q&A #5</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=jdw15JNWkgQ">Community Q&A #10</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=aRNTtJ8SRtk">Community Q&A #15</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=phWGBSV9pzQ">Community Q&A #20</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=g951vrriLAo">Community Q&A #25</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                             <div class="panel panel-info">
                                 <div class="panel-heading">
                                     <h4 class="panel-title">
                                         <a data-toggle="collapse" data-parent="#accordion2" href="#collapse6">Microsoft Developer</a>
                                     </h4>
                                 </div>
                                 <div id="collapse6" class="panel-collapse collapse">
                                     <div class="panel-body">
                                         <ul>
                                             <li><a href="https://www.youtube.com/watch?v=OgrIw1hVTxs&index=1&list=PLlrxD0HtieHh73JryJJ-GWcUtrqpcg2Pb">Alex Wun: The Cluster Manager</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=vM5x9kk6ZVY&index=2&list=PLlrxD0HtieHh73JryJJ-GWcUtrqpcg2Pb">Mansoor Mohsin: Inside the Failover Manager</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=BvIWoMpj4vI&index=3&list=PLlrxD0HtieHh73JryJJ-GWcUtrqpcg2Pb">Aprameya Rao: Inside Service Fabric Reconfiguration</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                             <div class="panel panel-info">
                                 <div class="panel-heading">
                                     <h4 class="panel-title">
                                         <a data-toggle="collapse" data-parent="#accordion2" href="#collapse7">Microsoft Azure</a>
                                     </h4>
                                 </div>
                                 <div id="collapse7" class="panel-collapse collapse">
                                     <div class="panel-body">
                                         <ul>
                                             <li><a href="https://www.youtube.com/watch?v=QqmPM8G4cu8">Azure Friday | Azure Service Fabric on Linux</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=5RYmooIZqS4">Azure Friday | Jenkins CI/CD with Service Fabric</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=hDtslXl5APw">Building Games with Service Fabric</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                             <div class="panel panel-info">
                                 <div class="panel-heading">
                                     <h4 class="panel-title">
                                         <a data-toggle="collapse" data-parent="#accordion2" href="#collapse8">Microsoft Visual Studio</a>
                                     </h4>
                                 </div>
                                 <div id="collapse8" class="panel-collapse collapse">
                                     <div class="panel-body">
                                         <ul>
                                             <li><a href="https://www.youtube.com/watch?v=1NcWdSn-7aI">Service Fabric Deploying and Managing Applications with Service Fabric</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=ndEX6BjSwHU">SmartHotel360 - Modernizing Existing Apps with Azure Service Fabric</a></li>
                                             <li><a href="https://www.youtube.com/watch?v=U0W8Z0bp6aw">Azure: building applications using Azure Service Fabric and ASP.NET Core | E100</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-xs-7">
                         <h4 align="right">Youtube Channels</h4>
                         <p class="lead" align="right">
                             The following YouTube channels have great Service Fabric content targeted  for users ranging from beginners to advanced. These videos tend to be
                             topic driven and will dive deeeply into the selected subject. Explore a few of our selected videos before heading to the channels for even more content.
                         </p>
                     </div>
                 </div>
             </div>
             <!-- </div> -->
         </div>
     </div>
    <!-- /.content-section-b -->
    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Try</h2>
            </div>
            <div class="row">
                <div class="container">
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Quickstarts</h2>
                        </div>
                        <!-- Quickstarts Panel-->
                        <div class="panel-body lead">
                            Quickstarts are simple, minimal input walkthroughs that aim to teach you a specific task without
                            forcing you to write any code on your own. They should take 5 minutes or less! <br />
                            <img src="img/rocket_icon.png" class="center-block read-icon">
                            <button type="button"  onclick="filterSelection('all')" class="btn btn-info" data-toggle="modal" data-target="#myModal1">
                                Go
                            </button>
                            <!-- Quickstarts Modal -->
                            <div class="modal fade" id="myModal1" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Quickstarts</h4>
                                        </div>
                                        <div class="modal-body feature-cont">
                                            <div id="myBtnContainer" class="row btnContainer">
                                                <button class="btn active btn-info" onclick="filterSelection('all')"> Show all</button>
                                                <button class="btn btn-info" onclick="filterSelection('java')"> Java</button>
                                                <button class="btn btn-info" onclick="filterSelection('net')"> .NET</button>
                                                <button class="btn btn-info" onclick="filterSelection('health')"> Health</button>
                                                <button class="btn btn-info" onclick="filterSelection('linux')"> Linux</button>
                                            </div>
                                            <br />
                                            <!---Row 1 -->
                                            <div class="row"> 
                                                <div class="col-md-4 filterDiv net">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-dotnet">
                                                        <img src="img/net_logo.jpg" class="img-circle try-item" />
                                                    </a>
                                                    <p>Create a .NET Application</p>
                                                </div>
                                                <div class="col-md-4 filterDiv container linux">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-containers-linux">
                                                        <img src="img/linux_icon.png" class="img-circle try-item" />
                                                    </a>
                                                    <p>Deploy a Linux Container Application</p>
                                                </div>
                                                <div class="col-md-4 filterDiv container window">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-containers">
                                                        <img src="img/windows_logo.png" class="img-circle try-item" />
                                                    </a>
                                                    <p>Deploy a Windows Container Application</p>
                                                </div>
                                            </div>
                                            <!-- Row 2 -->
                                            <div class="row">
                                                <div class="col-md-4 filterDiv spring">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-java-spring-boot">
                                                        <img src="img/spring_boot_logo.png" class="img-circle try-item" />
                                                    </a>
                                                    <p>Deploy a Spring Boot Application</p>
                                                </div>
                                                <div class="col-md-4 filterDiv reliable">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-java-reliable-services">
                                                        <img src="img/rocket_icon.png" class="img-circle try-item" />
                                                    </a>
                                                    <p>Deploy a Reliable Services Application</p>
                                                </div>
                                            </div> 
                                           
                                            <script>
                                                filterSelection("all")
                                                function filterSelection(c) {
                                                    var x, i;
                                                    x = document.getElementsByClassName("filterDiv");
                                                    if (c == "all") c = "";
                                                    for (i = 0; i < x.length; i++) {
                                                        w3RemoveClass(x[i], "show");
                                                        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
                                                    }
                                                }

                                                function w3AddClass(element, name) {
                                                    var i, arr1, arr2;
                                                    arr1 = element.className.split(" ");
                                                    arr2 = name.split(" ");
                                                    for (i = 0; i < arr2.length; i++) {
                                                        if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
                                                    }
                                                }

                                                function w3RemoveClass(element, name) {
                                                    var i, arr1, arr2;
                                                    arr1 = element.className.split(" ");
                                                    arr2 = name.split(" ");
                                                    for (i = 0; i < arr2.length; i++) {
                                                        while (arr1.indexOf(arr2[i]) > -1) {
                                                            arr1.splice(arr1.indexOf(arr2[i]), 1);
                                                        }
                                                    }
                                                    element.className = arr1.join(" ");
                                                }

                                                // Add active class to the current button (highlight it)
                                                var btnContainer = document.getElementById("myBtnContainer");
                                                var btns = btnContainer.getElementsByClassName("btn");
                                                for (var i = 0; i < btns.length; i++) {
                                                    btns[i].addEventListener("click", function () {
                                                        var current = document.getElementsByClassName("active");
                                                        current[0].className = current[0].className.replace(" active", "");
                                                        this.className += " active";
                                                    });
                                                }
                                            </script>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" onclick="filterSelection('all')" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Tutorials</h2>
                        </div>
                        <div class="panel-body lead">
                            Tutorials are meant to give a more in-depth walk through. They provide you with tools as well as explanations
                            for each step until you have accomplished your goal. <br />
                            <img src="img/tutorial_icon.png" class="center-block read-icon">
                            <button type="button" class="btn btn-info"  onclick="filterSelection('all')" data-toggle="modal" data-target="#myModal2">
                                Go
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal2" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Tutorials</h4>
                                        </div>
                                        <div class="modal-body feature-cont">
                                            <div id="myBtnContainer" class="row btnContainer">
                                                <button class="btn active btn-info" onclick="filterSelection('all')"> Show all</button>
                                                <button class="btn btn-info" onclick="filterSelection('java')"> Java</button>
                                                <button class="btn btn-info" onclick="filterSelection('net')"> .NET</button>
                                                <button class="btn btn-info" onclick="filterSelection('health')"> Health</button>
                                                <button class="btn btn-info" onclick="filterSelection('linux')"> Linux</button>
                                            </div>
                                            <br />
                                            <!---Row 1-->
                                            <div class="row">
                                                <div class="col-md-4 filterDiv net">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-dotnet-app">
                                                        <img src="img/net_logo.jpg" class="img-circle try-item" />
                                                    </a>
                                                    <p>Deploy a .NET app</p>
                                                </div>
                                                <div class="col-md-4 filterDiv java">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-java-app">
                                                        <img src="img/linux_icon.png" class="img-circle try-item" />
                                                    </a>
                                                    <p>Deploy a Java app</p>
                                                </div>
                                                <div class="col-md-4 filterDiv net">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-host-app-in-a-container">
                                                        <img src="img/java_icon.png" class="img-circle try-item" />
                                                    </a>
                                                    <p>Containerize an existing .NET app</p>
                                                </div>
                                            </div>
                                            <!-- Row 2 -->
                                            <div class="row">
                                                <div class="col-md-4 filterDiv linux">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-container-images">
                                                        <img src="img/linux_icon.png" class="img-circle try-item" />
                                                    </a>
                                                    <p>Create a Linux container app</p>
                                                </div>
                                                <div class="col-md-4 filterDiv health">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-quickstart-java-reliable-services">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item" />
                                                    </a>
                                                    <p>Create and manage a cluster</p>
                                                </div>
                                                <div class="col-md-4 filterDiv aws">
                                                    <a href="https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-standalone-create-infrastructure">
                                                        <img src="img/aws_logo.png" class="img-circle try-item" />
                                                    </a>
                                                    <p>Create a standalone cluster on AWS</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" onclick="filterSelection('all')"  data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Samples</h2>
                        </div>
                        <div class="panel-body lead">
                            Samples tend to be repositories that you can download and clone. They will allow you to expore a specific concept
                            in action by observing someone else's code. <br />
                            <img src="img/sample_icon.png" class="center-block read-icon">
                            <button type="button" class="btn btn-info" data-toggle="modal"  onclick="filterSelection('all')" data-target="#myModal3">
                                Go
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal3" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Samples</h4>
                                        </div>
                                        <div class="modal-body feature-cont">
                                            <!-- Filter Buttons -->
                                            <div id="myBtnContainer" class="row btnContainer">
                                                <button class="btn active btn-info" onclick="filterSelection('all')"> Show all</button>
                                                <button class="btn btn-info" onclick="filterSelection('java')"> Java</button>
                                                <button class="btn btn-info" onclick="filterSelection('net')"> .NET</button>
                                                <button class="btn btn-info" onclick="filterSelection('health')"> Health</button>
                                                <button class="btn btn-info" onclick="filterSelection('linux')"> Linux</button>
                                            </div>
                                            <br />
                                            <!---Row 1-->
                                            <div class="row">
                                                <div class="col-md-4 filterDiv standalone">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-standalone-cluster-configuration/">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric Standalone Cluster Configuration</p>
                                                </div>
                                                <div class="col-md-4 filterDiv java">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-java-getting-started/">
                                                        <img src="img/linux_icon.png" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Getting Started with Service Fabric with Java</p>
                                                </div>
                                                <div class="col-md-4 filterDiv">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-containers/">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric Container Samples</p>
                                                </div>
                                            </div>
                                            <!-- Row 2 -->
                                            <div class="row">
                                                <div class="col-md-4 filterDiv net">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-core-getting-started/">
                                                        <img src="img/java_icon.png" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Getting Started with Service Fabric with .NET Core</p>
                                                </div>
                                                <div class="col-md-4 filterDiv">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-getting-started/">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric Getting Started</p>
                                                </div>
                                                <div class="col-md-4 filterDiv">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-watchdog-service/">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric Watchdog Sample</p>
                                                </div>
                                            </div>
                                            <!-- Row 3 -->
                                            <div class="row">
                                                <div class="col-md-4 filterDiv">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-web-reference-app/">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric Web Reference Application</p>
                                                </div>
                                                <div class="col-md-4 filterDiv">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-iot/">
                                                        <img src="img/iot_logo.png" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric IoT Sample</p>
                                                </div>
                                                <div class="col-md-4 filterDiv">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-api-management/">
                                                        <img src="img/api_management.png" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric and Azure API Management</p>
                                                </div>
                                            </div>
                                            <!-- Row 4 -->
                                            <div class="row">
                                                <div class="col-md-4 filterDiv health">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-data-aggregation/">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric Data Aggregation Sample (aka HealthMetrics)</p>
                                                </div>
                                                <div class="col-md-4 filterDiv performance">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-performance/">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric Performance and Scalability samples</p>
                                                </div>
                                                <div class="col-md-4 filterDiv party">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-management-party-cluster/">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Azure Service Fabric Party Cluster</p>
                                                </div>
                                                <div class="col-md-4 filterDiv backend">
                                                    <a href="https://azure.microsoft.com/en-us/resources/samples/service-fabric-dotnet-data-streaming-websockets/">
                                                        <img src="img/asf_logo.jpg" class="img-circle try-item"/>
                                                    </a>
                                                    <p>Service Fabric Predictive Backend</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" onclick="filterSelection('all')" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
        </div>
    </div> 
    <!-- /.content-section-c -->
</section>
