<section id="whatsnew">
    <div class="container content-section">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">What's New</h2>
            <div class="container feature-cont">
                <!-- Feature 1 -->
                <div class="col-md-4 feature-div">
                    <a href="https://azure.microsoft.com/en-us/roadmap/azure-service-fabric-introduces-its-fully-managed-option-service-fabric-mesh/">
                        <img src="img/mesh_logo.JPG" alt="SF Mesh Logo" class="img-circle feature-image">
                    </a>
                    <br />
                    <h4> Introducing Mesh</h4>
                    <p class="lead">Making distributed system orchestration that much easier</p>
                </div>
                <!-- Feature 2 -->
                <div class="col-md-4 feature-div">
                    <a href="https://azure.microsoft.com/en-us/roadmap/azure-service-fabric/">
                        <img src="img/linux_icon.png" alt="Linux Logo" class="img-circle feature-image">
                    </a>
                    <br />
                    <h4>Linux Compatibility Has Arrived</h4>
                    <p class="lead">Use it to provision Service Fabric clusters in Azure using Linux as the host operating system</p>
                </div>
                <!-- Feature 3 -->
                <div class="col-md-4 feature-div">
                    <a href="https://azure.microsoft.com/en-us/roadmap/templated-service-fabric-cluster-deployments/">
                        <img src="img/template_icon.png" alt="Linux Logo" class="img-circle feature-image">
                    </a>
                    <br />
                    <h4>Templated Cluster Deployments</h4>
                    <p class="lead">These templates will simplify deployment and operations for Azure Stack users</p>
                </div>
            </div>
        </div>
    </div>
</section>